html {
  font-size: 16px;
  position: relative;
  min-height: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff !important;
}

.main:after {
  content: "";
  background-image: url("/src/assets/grid.svg");
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}
