@import "global.css";

.inputs {
  display: flex;
  flex-direction: column;
}

button {
  position: relative;
  padding: 5px 20px;
  width: 200px;
  height: 30px;
  background-color: var(--purple);
  color: var(--light);
  cursor: pointer;
  z-index: 10;
}

.deleteButton {
  position: absolute;
  top: 113px;
  width: 91px;
}

.updateButton {
  position: absolute;
  top: 143px;
  width: 91px;
  height: 30px;
}

#createNewStarShip {
  display: none;
  align-self: center;
  flex-direction: column;
  align-items: center;
}

.inputSpeed {
  height: 30px;
  position: absolute;
  top: 187px;
  width: 91px;
}

#toggleQuestion1,
#toggleQuestion2 {
  color: var(--light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#toggleQuestion2 {
  display: none;
}

.squadron {
  display: flex;
  justify-content: center;
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-top: 0;
  border-bottom: 100px solid var(--warmBlue);
  background: linear-gradient(var(--lightBlue) 50%, var(--warmBlue) 50%);
  position: absolute;
  z-index: 100;
  line-height: 100px;
  font-size: 20px;
  text-align: center;
  will-change: transform;
  color: var(--light);
  top: 80vh;
}

.youStarShip {
  position: relative;
  top: -100px;
  white-space: nowrap;
}

.portal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.middle {
  position: fixed;
  top: 50%;
  height: 2px;
  width: 100%;
  background: var(--red);
  transform: translateY(-50%);
}

.movingLine {
  position: absolute;
  top: 80vh;
  background: var(--purple);
  height: 2px;
  width: 100%;
  z-index: 200;
}

h1,
h2 {
  margin: 0;
  color: var(--light);
  padding: 10px;
  font-weight: normal;
  background: transparent;
  align-self: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

.modal-content-action {
  width: 500px;
  height: 500px;
  background-color: var(--blueTransparent);
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.modal-content-info {
  background-color: var(--blueTransparent);
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.close {
  display: flex;

  justify-content: flex-end;
  align-items: center;
}

.close-btn {
  width: fit-content;
  border: 1px solid #000;
  border-radius: 15px;
  padding: 5px 7px;
  background-color: #fff;

  font-size: 1.5rem;
  cursor: pointer;
}

.fade-up {
  animation: blowUp 0.4s ease-in-out;
}

@keyframes blowUp {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
