@media (max-width: 1040px) {
  .deleteButton,
  .updateButton {
    width: 60px;
    font-size: xx-small;
    padding: 0;
  }

  .squadron {
    border: 30px solid transparent;
  }

  button {
    height: 65px;
  }

  .deleteButton,
  .updateButton {
    height: 30px;
  }

  h1,
  h2 {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .squadron {
    border: 15px solid transparent;
    border-bottom: 45px;
    font-size: 20px;
    line-height: 50px;
  }
  .name {
    top: -35px;
    font-size: xx-small;
  }

  .deleteButton {
    top: 68px;
  }

  .updateButton {
    top: 100px;
  }
}
